.container {
    display: flex;
    flex-wrap: wrap;
}

.header {
    height: 56px;
    padding: 0px 16px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
}

.nav-bar {
    width: 10%;
    background-color: black;
}

.logo {
    width: 15%;
}

.logo-img {
    width: 80px;
    align-self: flex-start;
    justify-self: self-start;
}

.search-bar {
    width: 50%;
}

#search-bar-input {
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    background-color: transparent;
    border: dimgray;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    color: inherit;
    font-family: 'Roboto','Noto',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 4px;
    max-width: 100%;
    outline: none;
    text-align: inherit;
    width: 100%;
    -ms-flex: 1 1 .000000001px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: .000000001px;
    flex-basis: .000000001px;
}

#search-button {
    
}

.icons {
    width: 25%;
}

.main {
    width: 90vw;
    max-width: 1080px;
    background-color: green;
}

.left-div {
    width: 60%;
    background-color: blue;
}

.right-div {
    width: 40%;
    background-color: red;
}